{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Chat</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ entity.couleur }}</td>
            </tr>
            <tr>
                <th>Qualite1</th>
                <td>{{ entity.qualite1 }}</td>
            </tr>
            <tr>
                <th>Qualite2</th>
                <td>{{ entity.qualite2 }}</td>
            </tr>
            <tr>
                <th>Defaut</th>
                <td>{{ entity.defaut }}</td>
            </tr>
            <tr>
                <th>Croquettes</th>
                <td>{{ entity.croquettes }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ entity.disponible }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ entity.dispo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('chat') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('chat_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
